.daterangepicker {
  position: absolute;
  color: inherit;
  background-color: #f7f9ff;
  border-radius: 4px;
  border: 1px solid #e3edf6;
  width: 278px;
  max-width: none;
  padding: 0;
  margin-top: 7px;
  top: 100px;
  left: 20px;
  z-index: 3001;
  display: none;
  box-shadow: 0 8px 16px 0 rgba(2, 11, 43, 0.4);
}

.daterangepicker:before, .daterangepicker:after {
  position: absolute;
  display: inline-block;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

.daterangepicker:before {
  top: -7px;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  border-bottom: 7px solid #ccc;
}

.daterangepicker:after {
  top: -6px;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #fff;
  border-left: 6px solid transparent;
}

.daterangepicker.opensleft:before {
  right: 9px;
}

.daterangepicker.opensleft:after {
  right: 10px;
}

.daterangepicker.openscenter:before {
  left: 0;
  right: 0;
  width: 0;
  margin-left: auto;
  margin-right: auto;
}

.daterangepicker.openscenter:after {
  left: 0;
  right: 0;
  width: 0;
  margin-left: auto;
  margin-right: auto;
}

.daterangepicker.opensright:before {
  left: 9px;
}

.daterangepicker.opensright:after {
  left: 10px;
  display: none;
}

.daterangepicker.opensright:before{
  display: none;
}

.daterangepicker.drop-up {
  margin-top: -7px;
}

.daterangepicker.drop-up:before {
  top: initial;
  bottom: -7px;
  border-bottom: initial;
  border-top: 7px solid #ccc;
}

.daterangepicker.drop-up:after {
  top: initial;
  bottom: -6px;
  border-bottom: initial;
  border-top: 6px solid #fff;
}

.daterangepicker.single .daterangepicker .ranges, .daterangepicker.single .drp-calendar {
  float: none;
}

.daterangepicker.single .drp-selected {
  display: none;
}

.daterangepicker.show-calendar .drp-calendar {
  display: block;
}

.daterangepicker.show-calendar .drp-buttons {
  display: block;
}

.daterangepicker.auto-apply .drp-buttons {
  display: none;
}

.daterangepicker .drp-calendar {
  display: none;
  max-width: 368px;
}

.daterangepicker .drp-calendar.left {
  padding: 16px 0 16px 16px;
}

.daterangepicker .drp-calendar.right {
  padding: 16px;
}

.daterangepicker .drp-calendar.single .calendar-table {
  border: none;
}

//.daterangepicker .calendar-table .next span, .daterangepicker .calendar-table .prev span {
//  color: #fff;
//  border: solid black;
//  border-width: 0 2px 2px 0;
//  border-radius: 0;
//  display: inline-block;
//  padding: 3px;
//}

.daterangepicker .calendar-table .next span {
  //transform: rotate(-45deg);
  //-webkit-transform: rotate(-45deg);
}

.daterangepicker .calendar-table .prev span {
  //transform: rotate(135deg);
  //-webkit-transform: rotate(135deg);
}

.daterangepicker .calendar-table th, .daterangepicker .calendar-table td {
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  min-width: 48px;
  width: 48px;
  height: 32px;
  border-radius: 16px;
  border: 1px solid transparent;
  cursor: pointer;
  font-family: $primaryFont;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.23;
  letter-spacing: normal;
  color: #101f51;
}

.daterangepicker .calendar-table {
  border: 0;
  border-radius: 4px;
  background-color: transparent;
}

.daterangepicker .calendar-table table {
  width: 100%;
  margin: 0;
  border-spacing: 0;
  border-collapse: collapse;
}

.daterangepicker td.available:hover, .daterangepicker th.available:hover {
  background-color: #00a7db;
  border-color: transparent;
  color: inherit;
  color: #fff;
}

.daterangepicker td.week, .daterangepicker th.week {
  font-size: 80%;
  color: #ccc;
}

.daterangepicker td.off, .daterangepicker td.off.in-range, .daterangepicker td.off.start-date, .daterangepicker td.off.end-date {
  background-color: transparent;
  border-color: transparent;
  color: #bbc5de;
}

.daterangepicker td.in-range {
  background-color: #00a7db;
  border-color: transparent;
  color: #fff;
  font-weight: bold;
  border-radius: 0;
}

.daterangepicker td.start-date {
  font-weight: bold;
  border-radius: 16px 0 0 16px;
}

.daterangepicker td.end-date {
  font-weight: bold;
  border-radius: 0 16px 16px 0;
}

.daterangepicker td.start-date.end-date {
  border-radius: 4px;
}

.daterangepicker td.active, .daterangepicker td.active:hover {
  background-color: #00a7db;
  border-color: transparent;
  color: #fff;
}

.daterangepicker th.month {
  width: auto;
  font-weight: bold;
}

.daterangepicker td.disabled, .daterangepicker option.disabled {
  color: #bbc5de;
  cursor: not-allowed;
  text-decoration: line-through;
}

.daterangepicker select.monthselect, .daterangepicker select.yearselect {
  font-size: 12px;
  padding: 1px;
  height: auto;
  margin: 0;
  cursor: default;
}

.daterangepicker select.monthselect {
  margin-right: 2%;
  width: 56%;
}

.daterangepicker select.yearselect {
  width: 40%;
}

.daterangepicker select.hourselect, .daterangepicker select.minuteselect, .daterangepicker select.secondselect, .daterangepicker select.ampmselect {
  width: 50px;
  margin: 0 auto;
  background: #eee;
  border: 1px solid #eee;
  padding: 2px;
  outline: 0;
  font-size: 12px;
}

.daterangepicker .calendar-time {
  text-align: center;
  margin: 4px auto 0 auto;
  line-height: 30px;
  position: relative;
}

.daterangepicker .calendar-time select.disabled {
  color: #ccc;
  cursor: not-allowed;
}

.daterangepicker .drp-buttons {
  clear: both;
  text-align: center;
  padding: 24px 8px;
  border-top: 0px;
  display: none;
  line-height: 12px;
  vertical-align: middle;
}

.daterangepicker .drp-calendar.left{
  padding-bottom: 0;
}

.daterangepicker .drp-selected {
  display: inline-block;
  font-size: 12px;
  padding-right: 8px;
}


.daterangepicker.show-ranges.single.rtl .drp-calendar.left {
  border-right: 1px solid #ddd;
}

.daterangepicker.show-ranges.single.ltr .drp-calendar.left {
  border-left: 1px solid #ddd;
}

.daterangepicker.show-ranges.rtl .drp-calendar.right {
  border-right: 1px solid #ddd;
}

.daterangepicker.show-ranges.ltr .drp-calendar.left {
  border-left: 1px solid #ddd;
}

.daterangepicker .ranges {
  float: none;
  text-align: left;
  margin: 0;
}

.daterangepicker.show-calendar .ranges {
  margin-top: 8px;
}

.daterangepicker .ranges ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

.daterangepicker .ranges li {
  font-size: 12px;
  padding: 8px 12px;
  cursor: pointer;
}

.daterangepicker .ranges li:hover {
  background-color: #eee;
}

.daterangepicker .ranges li.active {
  background-color: #08c;
  color: #fff;
}

/*  Larger Screen Styling */
@media (min-width: 564px) {
  .daterangepicker {
    width: auto;
  }

  .daterangepicker .ranges ul {
    width: 140px;
  }

  .daterangepicker.single .ranges ul {
    width: 100%;
  }

  .daterangepicker.single .drp-calendar.left {
    clear: none;
  }

  .daterangepicker.single .ranges, .daterangepicker.single .drp-calendar {
    float: left;
  }

  .daterangepicker {
    direction: ltr;
    text-align: left;
  }

  .daterangepicker .drp-calendar.left {
    clear: left;
    margin-right: 0;
  }

  .daterangepicker .drp-calendar.left .calendar-table {
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .daterangepicker .drp-calendar.right {
    margin-left: 0;
  }

  .daterangepicker .drp-calendar.right .calendar-table {
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .daterangepicker .drp-calendar.left .calendar-table {
    padding-right: 16px;
  }

  .daterangepicker .ranges, .daterangepicker .drp-calendar {
    float: left;
  }
}

@media (min-width: 730px) {
  .daterangepicker .ranges {
    width: auto;
  }

  .daterangepicker .ranges {
    float: left;
  }

  .daterangepicker.rtl .ranges {
    float: right;
  }

  .daterangepicker .drp-calendar.left {
    clear: none !important;
  }
}


/* Date picker custom styles */


.daterangepicker{
  .drp-calendar.right{
    display: none;
  }
  .drp-buttons .drp-selected{
    display: none;
  }
  .cancelBtn{
    display: none;
  }
}

.table-condensed{
  position: relative;
  thead{

    tr:first-of-type{
      position: relative;
      height: 40px;
    }

    .prev{
      position: absolute;
      right: 30px;
      width: 16px;
      height: 16px;
      max-width: 16px;
      min-width: 16px;
      margin-top: 8px;
      border: none;
      background: none !important;
      span{
        display: block;
        width: 16px;
        height: 16px;
        border: solid 1px #e2e4f4;
        background-color: #ffffff;
        border-radius: 100px;
        position: relative;
        text-align: center;
        &:after{
          content: '';
          width: 16px;
          background: url("../img/icons/arrow-left_blue.svg") no-repeat center / contain;
          display: block;
          position: absolute;
          height: 8px;
          top: 50%;
          margin-top: -4px;
        }
      }
    }
    .next{
      position: absolute;
      right: 3px;
      width: 16px;
      height: 16px;
      max-width: 16px;
      min-width: 16px;
      margin-top: 8px;
      border: none;
      background: none !important;
      span{
        display: block;
        width: 16px;
        height: 16px;
        border: solid 1px #e2e4f4;
        background-color: #ffffff;
        border-radius: 100px;
        right: 0;
        position: relative;
        &:after{
          content: '';
          width: 16px;
          background: url("../img/icons/arrow-right_blue.svg") no-repeat center / contain;
          display: block;
          position: absolute;
          height: 8px;
          top: 50%;
          margin-top: -4px;
        }
      }
    }
    .month{
      position: absolute;
      top: -4px;
      font-size: 13px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 40px;
      letter-spacing: normal;
      color: #161d33;
      text-transform: uppercase;
      text-align: left;
    }
  }
}

.calendar-opened{
  background-color: #e2e4f4;
  .icon-date{
    background: #1300df !important;
    &:before{
      content: '';
      background: url(../img/icons/arrow-down-white.svg) no-repeat center/contain !important;
      height: 8px;
      display: block;
      position: absolute;
      top: 50%;
      margin-top: -4px;
      width: 100%;
      transform: rotate(180deg);
    }
  }
}

.icon-arrow-left{
  background: url("../img/icons/arrow-left_blue.svg") no-repeat center / contain;
  width: 16px;
  height: 16px;
  display: block;
}

.icon-arrow-black-left{
  background: url("../img/icons/arrow-left.svg") no-repeat center / contain;
  width: 16px;
  height: 16px;
  display: block;
}

.icon-arrow-right{
  background: url("../img/icons/arrow-right_blue.svg") no-repeat center / contain;
  width: 16px;
  height: 16px;
  display: block;
}

.daterangepicker .calendar-table td.in-range:last-of-type{
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}

.daterangepicker .calendar-table td.in-range:first-of-type{
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}

.calendar-opened input{
  font-size: 13px;
  font-weight: normal !important;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.23;
  letter-spacing: normal;
  text-align: center;
  color: #7e89ac !important;
}

//.daterangepicker .calendar-table td.end-date.in-range{
//  border-radius: 0 16px 16px 0 !important;
//}
//
//.daterangepicker .calendar-table td.end-date.in-range:first-of-type{
//  border-radius: 16px 0 0 16px !important;
//}