.products-table{
  .table-footer-btn{
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .products-table_nav{
    span{
      display: inline-block;
      color: #eef4fa;
      padding-left: 8px;
      padding-right: 8px;
      font-size: 24px;
      vertical-align: middle;
      position: relative;
      top: -3px;
    }
  }
  .table-row{
    padding: 11px 0 10px;
    align-items: center;
    .col{
      position: relative;
    }
  }
  .table-row-products{
    .value b{
      font-size: 15px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.6;
      letter-spacing: normal;
      color: #020b2b;
    }
    .col:nth-child(1){
      width: auto;
      flex-grow: 100;
      padding-right: 24px;
    }
    .col:nth-child(2){
      width: auto;
      padding-right: 24px;
      padding-left: 24px;

      &:after{
        content: '';
        width: 1px;
        height: 34px;
        opacity: 0.64;
        background-color: #e3edf6;
        display: block;
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -17px;
      }
    }
    .col:nth-child(3){
      width: auto;
      padding-right: 24px;
      padding-left: 24px;
      text-align: right;
      &:after{
        content: '';
        width: 1px;
        height: 34px;
        opacity: 0.64;
        background-color: #e3edf6;
        display: block;
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -17px;
      }
    }
    .col:nth-child(4){
      width: auto;
      padding-right: 24px;
      padding-left: 24px;
      text-align: right;
    }
    .col:nth-child(5){
      width: auto;
      flex-grow: 1;
      text-align: right;
      padding-left: 24px;
      text-align: right;
    }
  }
}

.sub{
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.23;
  letter-spacing: normal;
  color: #7e89ac;
  text-transform: none!important;
}

.table-box{
  border-radius: 4px;
  border: solid 1px #e3edf6;
  background-color: #ffffff;
  padding-left: 16px;
  padding-right: 16px;
  box-sizing: border-box;
  position: relative;
}

.ajax_loader{
  background: rgba(255,255,255,0.3);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: 0.4s;
  opacity: 1;
  z-index: 10;
  visibility: visible;
  &.hide{
    opacity: 0;
    z-index: -1;
    visibility: hidden;
  }
  &:before{
    content: '';
    display: block;
    width: 80px;
    height: 80px;
    background: url('../img/icons/oval.svg') no-repeat center / contain;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -40px 0 0 -40px;
  }
}

.table-row-users{
  align-items: center;
  .user-avatar{
    width: 32px;
    height: 32px;
    border-radius: 100px;
    overflow: hidden;
    margin-right: 16px;
    img{
      width: 100%;
      height: 100%;
      display: block;
    }
  }
  .title b{
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    color: #020b2b;
  }
  .col:nth-child(1){
    width: auto;
    min-width: 48px;
  }
  .col:nth-child(2){
    width: auto;
    flex-grow: 100;
    .title{
      padding-bottom: 0;
    }
    .value{
      font-size: 13px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.23;
      letter-spacing: normal;
      color: #7e89ac;
    }
  }
  .col:nth-child(3){
    width: auto;
    padding-right: 24px;
    padding-left: 24px;
    &:after{
      content: '';
      width: 1px;
      height: 34px;
      opacity: 0.64;
      background-color: #e3edf6;
      display: block;
      position: absolute;
      right: 0;
      top: 50%;
      margin-top: -17px;
    }
  }
  .col:nth-child(4){
    width: auto;
    padding-right: 24px;
    padding-left: 24px;
    text-align: right;
    &:after{
      content: '';
      width: 1px;
      height: 34px;
      opacity: 0.64;
      background-color: #e3edf6;
      display: block;
      position: absolute;
      right: 0;
      top: 50%;
      margin-top: -17px;
    }
  }
  .col:nth-child(5){
    width: auto;
    padding-right: 24px;
    padding-left: 24px;
    text-align: right;
    &:after{
      content: '';
      width: 1px;
      height: 34px;
      opacity: 0.64;
      background-color: #e3edf6;
      display: block;
      position: absolute;
      right: 0;
      top: 50%;
      margin-top: -17px;
    }
  }
  .col:nth-child(6){
    text-align: right;
    width: auto;
    padding-left: 24px;
  }
  .col:nth-child(7){
    flex-grow: 1;
    width: auto;
    text-align: right;
    padding-left: 24px;
  }
}

.table-row-requests{
  align-items: center;
  .user-avatar{
    width: 32px;
    height: 32px;
    position: relative;
    img{
      width: 100%;
      height: 100%;
      display: block;
    }
  }
  .value a{
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    color: #020b2b;
    text-decoration: none;
  }
  .title b{
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    color: #020b2b;
  }
  .col:nth-child(1){
    width: auto;
    padding-right: 24px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 2px;
  }
  .col:nth-child(2){
    width: auto;
    flex-grow: 100;
    padding-right: 24px;
    .title{
      padding-bottom: 0;
    }
    .value{
      font-size: 13px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.23;
      letter-spacing: normal;
      color: #7e89ac;
    }
  }
  .col:nth-child(3){
    padding-right: 24px;
    width: auto;
    .title{
      text-align: right;
    }
    &:after{
      content: '';
      width: 1px;
      height: 34px;
      opacity: 0.64;
      background-color: #e3edf6;
      display: block;
      position: absolute;
      right: 0;
      top: 50%;
      margin-top: -17px;
    }
  }
  .col:nth-child(4){
    padding-left: 24px;
    padding-right: 24px;
    width: 120px;
  }
  .col:nth-child(5){
    padding-left: 24px;
    padding-right: 24px;
    width: auto;
    text-align: right;
    &:after{
      content: '';
      width: 1px;
      height: 34px;
      opacity: 0.64;
      background-color: #e3edf6;
      display: block;
      position: absolute;
      right: 0;
      top: 50%;
      margin-top: -17px;
    }
  }
  .col:nth-child(6){
    padding-left: 24px;
    width: auto;
  }
}

.user-avatar{
  position: relative;
  overflow: visible;
  .img{
    overflow: hidden;
    border-radius: 100px;

  }
  .icon-suspended{
    width: 8px;
    height: 8px;
    border: solid 1px #ffffff;
    background-color: #df0036;
    position: absolute;
    right: -4px;
    border-radius: 100px;
    top: 50%;
    margin-top: -5px;

    &:after{
      content: '';
      height: 4px;
      background: url("../img/icons/suspended-white.svg") no-repeat center / contain;
      display: block;
      position: absolute;
      top: 50%;
      margin-top: -2px;
      width: 8px;
    }
  }
}

.product-list{
  margin-left: -32px;
  display: flex;
  flex-wrap: wrap;
}
.product-item{
  border-radius: 4px;
  border: solid 1px #e3edf6;
  background-color: #ffffff;
  padding-left: 16px;
  padding-right: 16px;
  width: calc(33.3% - 32px);
  margin-left: 32px;
  margin-bottom: 32px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  .product-item_title{
    height: 56px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 2px solid #e3edf6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .title{
      font-size: 13px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.23;
      letter-spacing: 0.5px;
      color: #101f51;
      text-transform: uppercase;

    }
    .counter{
      min-width: 26.5px;
      height: 16px;
      border-radius: 8px;
      background-color: #161d33;
      color: #ffffff;
      font-size: 7.5px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.6;
      letter-spacing: normal;
      text-align: center;
      padding: 2px 6px;
    }
  }
  .product-item_body{
    display: flex;
    margin-top: 23px;
    margin-bottom: 22px;
    .title{
      font-size: 13px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.23;
      letter-spacing: normal;
      color: #7e89ac;
      white-space: nowrap;
    }
    .value{
      font-size: 15px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.6;
      letter-spacing: normal;
      color: #020b2b;
      margin-top: 3px;
    }
    .col{
      width: 50%;
      &:nth-child(1){
        position: relative;
        padding-right: 24px;
        &:after{
          content: '';
          width: 1px;
          height: 34px;
          opacity: 0.64;
          background-color: #e3edf6;
          display: block;
          position: absolute;
          right: 0;
          top: 50%;
          margin-top: -17px;
        }
      }
      &:nth-child(2){
        padding-left: 24px;
      }
    }
  }
  .product-item_footer{
    border-top: 1px solid #e3edf6;
    padding: 24px 0;
    align-items: center;
    display: flex;
    justify-content: center;
    .details-btn:nth-child(1){
      margin-right: 17px;
    }
  }
}

.rounded-white-box{
  .balance-box{
    border: none;
  }
  .table-row-users{
    .col{
      position: relative;
    }
    .col:nth-child(2){
      width: 24%;
    }
    .col:nth-child(4){
      width: 12%;
    }
    .col:nth-child(5){
      width: 17%;
    }
  }
}

.user-balance-box{
  > .col {
    width: 50%;
    &:nth-child(1){
      margin-right: 16px;
    }
    &:nth-child(2){
      margin-left: 16px;
    }
    .balance-box{
      width: 100%;
      margin: 0;
      padding: 0;
    }
  }
  .balance-graph{
    border-bottom: 1px solid #e3edf6;
    padding-bottom: 14px;
  }

  .balance-box{
    .flex-row{
      display: flex;
    }
    .balance-box_graph{
      width: 332px;
      margin-right: 34px;
    }
    .balance-box_info{
      width: 152px;
      flex-direction: column;
      border-bottom: 1px solid #e3edf6;
      padding-bottom: 14px;
      margin-bottom: 0;
      margin-top: 0;
      .balance-box_stats{
        display: flex;
        padding-top: 11px;
      }
    }
  }
  .balance-box_change{
    flex-direction: column;
    padding: 12px 0;
    width: 100%;
    .balance-change_title{
      padding-left: 0;
      margin-top: 10px;
      font-size: 13px;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.23;
      letter-spacing: normal;
      text-align: center;
      color: #161d33;
    }
    .balance-change_icon{
      margin-left: 0;
      i{
        width: 8px;
        height: 8px;
      }
      span{
        font-size: 13px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.23;
        letter-spacing: normal;
        color: #48ed33;
      }
    }
  }
}

.table-cpc{
  &.products-info-table .table-row .table-col-subproducts .table-col:nth-child(2){
    &:after{
      display: none;
    }
  }
  &.products-info-table .table-row .table-col:nth-child(3){
    &:after{
      display: none;
    }
  }
}

.products-table-box{
  .table-row .table-col:nth-child(6){
    text-align: right;
    flex-grow: 2;
  }
  .table-row .table-col:nth-child(1){
    flex-grow: 2;
  }
}

/* Feed */
.admin-feed-page{
  max-width: 888px;
  margin-left: auto;
  margin-right: auto;
}
.admin-feed{
  display: flex;
  .admin-feed_dates{
    width: 152px;
    min-width: 152px;
    border-top: 1px solid #e3edf6;
    margin-right: 32px;
    span{
      font-size: 13px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.23;
      letter-spacing: normal;
      color: #7e89ac;
      display: block;
      margin-top: 10px;
    }
  }
}
.admin-feed-item{
  display: flex;
  border-radius: 4px;
  border: solid 1px #e3edf6;
  background-color: #ffffff;
  padding: 16px;
  margin-bottom: 32px;
  .admin-feed-item_icon{
    padding-right: 16px;
  }
  .title{
    padding: 3px 0;
    border-bottom: 2px solid #e3edf6;
    margin-bottom: 19px;
    span{
      font-size: 15px;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.6;
      letter-spacing: normal;
      font-weight: normal;
      color: #7e89ac;
    }
    b{
      font-size: 15px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.6;
      letter-spacing: normal;
      color: #020b2b;
    }
  }
  p{
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.23;
    letter-spacing: normal;
    color: #7e89ac;
  }
  .btn-small{
    margin-top: 13px;
  }
  .avatar{
    width: 32px;
    height: 32px;
    border-radius: 100px;
    overflow: hidden;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.row-subproduct:not(.row-product){
  .table-col:nth-child(1){
    .title{
      opacity: 0;
    }
    .value{
      opacity: 0;
    }
    position: relative;
    &:before{
      content: '';
      display: block;
      width: 100%;
      position: absolute;
      left: 0;
      right: 0;
      height: 5px;
      background: #ffffff;
      z-index: 1;
      bottom: -2px;
    }
  }
}

.row-subproduct{
    &.row-subproduct_last{
      .table-col:before{
        display: none !important;
      }
    }
  .table-col:nth-child(1){
    position: relative;
    b{
      opacity: 0.6;
    }
    &:before{
      content: '';
      display: block;
      width: 100%;
      position: absolute;
      left: 0;
      right: 0;
      height: 5px;
      background: #ffffff;
      z-index: 1;
      bottom: -2px;
    }
  }
}

.user-balance .balance-box .balance-box_info{
  margin-top: 19px;
}

.input-box_input-radio{
  label{
    margin-right: 24px;
  }
}

.table-balance-users{
  .table-row-users .col{
    width: auto !important;

    &:nth-child(3){
      text-align: right;
    }
    &:nth-child(4){
      text-align: left;
    }
  }
}

.table-cpc.products-info-table{
  .table-row .table-col{
   // width: auto !important;
    &:nth-child(3){
      width: 147px;
    }
    &:nth-child(4){
      width: 130px;
    }
    &:nth-child(5){
      width: 60px;
    }
  }
}

.tabs-content-wrap{
  position: relative;
  transition: 0.4s;
}
.tabs-content{
  position: relative;
  transition: 0.4s;
  //opacity: 0;
  //top: 0;
  //left: 0;
  //right: 0;
  //bottom: 0;
  //visibility: hidden;
  //z-index: -1;
  //&.show{
  //  opacity: 1;
  //  visibility: visible;
  //  z-index: 10;
  //}
}

.edit-content{
  .toc{
    width: 100% !important;
    margin-left: 0 !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  a{
    display: flex !important;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    span{
      flex-grow: 2;
    }
  }
}

.input-box-full{
  .input-box_l{
    width: 100%;
  }
  &.input-box{
    padding-right: 16px;
  }
}

/* Style editor */

/*
 * CKEditor 5 (v12.4.0) content styles.
 * Generated on Mon, 21 Oct 2019 11:34:56 GMT.
 * For more information, check out https://ckeditor.com/docs/ckeditor5/latest/builds/guides/integration/content-styles.html
 */

:root {
  --ck-image-style-spacing: 1.5em;
  --ck-todo-list-checkmark-size: 16px;
}

/* ckeditor5-basic-styles/theme/code.css */
.ck-content code {
  background-color: hsla(0, 0%, 78%, 0.3);
  padding: .15em;
  border-radius: 2px;
}
/* ckeditor5-image/theme/image.css */
.ck-content .image {
  display: table;
  clear: both;
  text-align: center;
  margin: 1em auto;
}
/* ckeditor5-image/theme/image.css */
.ck-content .image > img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  min-width: 50px;
}
/* ckeditor5-image/theme/imagecaption.css */
.ck-content .image > figcaption {
  display: table-caption;
  caption-side: bottom;
  word-break: break-word;
  color: hsl(0, 0%, 20%);
  background-color: hsl(0, 0%, 97%);
  padding: .6em;
  font-size: .75em;
  outline-offset: -1px;
}
/* ckeditor5-image/theme/imageresize.css */
.ck-content .image.image_resized {
  max-width: 100%;
  display: block;
  box-sizing: border-box;
}
/* ckeditor5-image/theme/imageresize.css */
.ck-content .image.image_resized img {
  width: 100%;
}
/* ckeditor5-image/theme/imageresize.css */
.ck-content .image.image_resized > figcaption {
  display: block;
}
/* ckeditor5-media-embed/theme/mediaembed.css */
.ck-content .media {
  clear: both;
  margin: 1em 0;
  display: block;
  min-width: 15em;
}
/* ckeditor5-list/theme/todolist.css */
.ck-content .todo-list {
  list-style: none;
}
/* ckeditor5-list/theme/todolist.css */
.ck-content .todo-list li {
  margin-bottom: 5px;
}
/* ckeditor5-list/theme/todolist.css */
.ck-content .todo-list li .todo-list {
  margin-top: 5px;
}
/* ckeditor5-list/theme/todolist.css */
.ck-content .todo-list .todo-list__label > input {
  -webkit-appearance: none;
  display: inline-block;
  position: relative;
  width: var(--ck-todo-list-checkmark-size);
  height: var(--ck-todo-list-checkmark-size);
  vertical-align: middle;
  border: 0;
  left: -25px;
  margin-right: -15px;
  right: 0;
  margin-left: 0;
}
/* ckeditor5-list/theme/todolist.css */
.ck-content .todo-list .todo-list__label > input::before {
  display: block;
  position: absolute;
  box-sizing: border-box;
  content: '';
  width: 100%;
  height: 100%;
  border: 1px solid hsl(0, 0%, 20%);
  border-radius: 2px;
  transition: 250ms ease-in-out box-shadow, 250ms ease-in-out background, 250ms ease-in-out border;
}
/* ckeditor5-list/theme/todolist.css */
.ck-content .todo-list .todo-list__label > input::after {
  display: block;
  position: absolute;
  box-sizing: content-box;
  pointer-events: none;
  content: '';
  left: calc( var(--ck-todo-list-checkmark-size) / 3 );
  top: calc( var(--ck-todo-list-checkmark-size) / 5.3 );
  width: calc( var(--ck-todo-list-checkmark-size) / 5.3 );
  height: calc( var(--ck-todo-list-checkmark-size) / 2.6 );
  border-style: solid;
  border-color: transparent;
  border-width: 0 calc( var(--ck-todo-list-checkmark-size) / 8 ) calc( var(--ck-todo-list-checkmark-size) / 8 ) 0;
  transform: rotate(45deg);
}
/* ckeditor5-list/theme/todolist.css */
.ck-content .todo-list .todo-list__label > input[checked]::before {
  background: hsl(126, 64%, 41%);
  border-color: hsl(126, 64%, 41%);
}
/* ckeditor5-list/theme/todolist.css */
.ck-content .todo-list .todo-list__label > input[checked]::after {
  border-color: hsl(0, 0%, 100%);
}
/* ckeditor5-list/theme/todolist.css */
.ck-content .todo-list .todo-list__label .todo-list__label__description {
  vertical-align: middle;
}
/* ckeditor5-table/theme/table.css */
.ck-content .table {
  margin: 1em auto;
  display: table;
}
/* ckeditor5-table/theme/table.css */
.ck-content .table table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px double hsl(0, 0%, 70%);
}
/* ckeditor5-table/theme/table.css */
.ck-content .table table td,
.ck-content .table table th {
  min-width: 2em;
  padding: .4em;
  border-color: hsl(0, 0%, 85%);
}
/* ckeditor5-table/theme/table.css */
.ck-content .table table th {
  font-weight: bold;
  background: hsl(0, 0%, 98%);
}
/* ckeditor5-page-break/theme/pagebreak.css */
.ck-content .page-break {
  position: relative;
  clear: both;
  padding: 5px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* ckeditor5-page-break/theme/pagebreak.css */
.ck-content .page-break::after {
  content: '';
  position: absolute;
  border-bottom: 2px dashed hsl(0, 0%, 77%);
  width: 100%;
}
/* ckeditor5-page-break/theme/pagebreak.css */
.ck-content .page-break__label {
  position: relative;
  z-index: 1;
  padding: .3em .6em;
  display: block;
  text-transform: uppercase;
  border: 1px solid hsl(0, 0%, 77%);
  border-radius: 2px;
  font-family: Helvetica, Arial, Tahoma, Verdana, Sans-Serif;
  font-size: 0.75em;
  font-weight: bold;
  color: hsl(0, 0%, 20%);
  background: #fff;
  box-shadow: 2px 2px 1px hsla(0, 0%, 0%, 0.15);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* ckeditor5-image/theme/imagestyle.css */
.ck-content .image-style-side,
.ck-content .image-style-align-left,
.ck-content .image-style-align-center,
.ck-content .image-style-align-right {
  max-width: 50%;
}
/* ckeditor5-image/theme/imagestyle.css */
.ck-content .image-style-side {
  float: right;
  margin-left: var(--ck-image-style-spacing);
}
/* ckeditor5-image/theme/imagestyle.css */
.ck-content .image-style-align-left {
  float: left;
  margin-right: var(--ck-image-style-spacing);
}
/* ckeditor5-image/theme/imagestyle.css */
.ck-content .image-style-align-center {
  margin-left: auto;
  margin-right: auto;
}
/* ckeditor5-image/theme/imagestyle.css */
.ck-content .image-style-align-right {
  float: right;
  margin-left: var(--ck-image-style-spacing);
}
/* ckeditor5-block-quote/theme/blockquote.css */
.ck-content blockquote {
  overflow: hidden;
  padding-right: 1.5em;
  padding-left: 1.5em;
  margin-left: 0;
  margin-right: 0;
  font-style: italic;
  border-left: solid 5px hsl(0, 0%, 80%);
}
/* ckeditor5-block-quote/theme/blockquote.css */
.ck-content[dir="rtl"] blockquote {
  border-left: 0;
  border-right: solid 5px hsl(0, 0%, 80%);
}
/* ckeditor5-horizontal-line/theme/horizontalline.css */
.ck-content hr {
  border-width: 1px 0 0;
  border-style: solid;
  border-color: hsl(0, 0%, 37%);
  margin: 0;
}
@media print {
  /* ckeditor5-page-break/theme/pagebreak.css */
  .ck-content .page-break {
    padding: 0;
  }
  /* ckeditor5-page-break/theme/pagebreak.css */
  .ck-content .page-break::after {
    display: none;
  }
}

.input-box-faq{
  height: auto !important;
  margin-top: 32px !important;
  .input-box_input{
    height: auto;
  }
  .input-box_input{
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    & > *{
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
  }
}

.input-box-faq-copy{
  display: none;
}