.sitemap-wrapper{
  display: flex;
  flex-wrap: wrap;
}

.sitemap-wrapper{
  margin-right: -32px;
}

.sitemap-item{
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 4px;
  border: solid 1px #e3edf6;
  background-color: #ffffff;
  width: calc(33.3% - 32px);
  margin-right: 32px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 32px;
  .sitemap-item_title{
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.23;
    letter-spacing: 0.5px;
    color: #101f51;
    padding: 19px 0 21px;
    border-bottom: 2px solid #e3edf6;
  }
  .sitemap-item_body{
    padding-top: 16px;
    padding-bottom: 24px;
  }
  .details-btn{
    width: auto !important;
    min-width: 0;
    max-width: 100%;
    display: inline-flex;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}