@media screen and (max-width: 992px){
  .products-table_requests{
    .table-row.table-row-requests{
      position: relative;
      padding-top: 64px;
      .col:nth-child(1){
        position: absolute;
        top: 8px;
        left: 0;
      }
      .col:nth-child(2){
        position: absolute;
        top: 8px;
        left: 48px;
      }
      .col:nth-child(3){
        padding-left: 48px;
        .title{
          text-align: left;
        }
      }
      .col:nth-child(5){
        position: absolute;
        right: 0;
        top: 24px;
        padding-right: 0;
        margin-right: 0;
        border-bottom: 1px solid rgba(#e3edf6, 0.64);
        width: 182px;
        padding-bottom: 8px;
        &:after{
          display: none;
        }
      }
      .col:nth-child(6){
        flex-grow: 2;
        text-align: right;
      }
    }
  }
  .campaign{
    margin-bottom: 24px;
  }
  $header_height: 64px;
  .dashboard-page .mainbar{
    margin-top: $header_height;
  }
  .notifications .notifications_head{
    height: $header_height;
  }
  .notifications .num{
    width: 43px;
  }
  .sidebar .sidebar_wrapper .notifications-counter{
    top: 16px;
    &.hover{
      background: #00a7db;
      .icon-bell-white{
        transform: rotate(-90deg) !important;
      }
    }
  }
  .sidebar-main{
    height: $header_height;
  }
  .campaign .campaign_table{
    flex-wrap: wrap;
    .col_btns{
      width: 100%;
      flex-grow: 3;
      text-align: center;
      display: flex;
      justify-content: center;
      margin-top: 34px;
    }
  }
  .sidebar-nav a{
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.85;
    letter-spacing: 0.87px;
    color: #101f51;
    padding-left: 16px;
    padding-right: 16px;
    height: $header_height;
  }
  .sidebar-logo{
    padding-left: 16px;
    padding-right: 16px;
    border-right: 1px solid #f7f9ff;
  }
  .filters-box{
    padding-right: 0 !important;
  }
  .mainbar-header.filters-box{
    padding-left: 12px;
    padding-right: 12px;
  }
  .sidebar-footer{
    display: none;
  }
  .mobile-flex-column{
    flex-direction: column;
    .campaigns-list{
      width: 100%;
      max-width: 100%;
    }
    .balance-box{
      width: 100%;
      margin-top: 32px !important;
    }
    .balance-box{
      margin-top: 0;
    }
    .campaign-details-col .campaign-details-box{
      width: 100%;
      margin-top: 32px;
    }
  }

  .mainbar-footer{
    position: relative;
    .logout{
      display: flex;
      position: absolute;
      top: -16px;
      left: 50%;
      margin-left: -49px;
    }
  }

  .calendar-day_row{
    .icon i{
      margin-right: 0;
    }
  }

  .calendar-day{
    width: calc(94% / 7);
    padding: 8px;
    .calendar-day_camp span{
      width: 170px;
      display: inline-block;
      -ms-text-overflow: ellipsis;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
  .alert-popup{
    height: 160px;
    margin-left: -12px;
    margin-right: -12px;
    width: calc(100% + 24px);
    .container{
      flex-direction: column;
    }
    .btn{
      margin-right: 0;
      margin-left: 0;
      margin-top: 16px;
    }
  }
  .dashboard-header-back{
    margin-top: 8px;
  }
  .user-balance-box{
    flex-direction: column;
    .col{
      width: 100%;
    }
    .balance-box_graph{
      margin-right: 0 !important;
    }
    .balance-box .flex-row{
      flex-direction: column;
      .balance-box_graph{
        width: 100%;
      }
      .balance-box_info{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
      }
      .balance-box_change{
        display: flex;
        width: auto;
        flex-direction: row;
        align-items: center;
        border-bottom: none;
      }
      .balance-change_title{
        padding-top: 0;
        margin-top: 0;
        margin-left: 16px;
        span{
          font-size: 15px !important;
          line-height: 1.6;
          color: #020b2b;
        }
      }
    }
    .balance-box_stats{
      padding-top: 0 !important;
      align-items: center;
      padding-left: 24px;
      margin-left: 24px;
      position: relative;
      &:before{
        content: '';
        width: 1px;
        height: 34px;
        opacity: 0.64;
        background-color: #e3edf6;
        top: 50%;
        display: block;
        position: absolute;
        margin-top: -16px;
        left: 0;
      }
    }

    .balance-box_change .balance-change_icon span{
      font-size: 26px !important;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.23 !important;
      letter-spacing: normal;
      color: #48ed33;
    }
  }
  .user-balance-box .balance-box .flex-row .balance-box_info{
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0;
  }
  .balance-box_change .balance-change_title b{
    padding-bottom: 0;
  }
  .user-balance-box > .col:nth-child(2){
    margin-left: 0 !important;
  }
  .user-balance-box > .col:nth-child(1){
    margin-right: 0 !important;
  }
  .products-table .table-row.table-row-users{
    padding-top: 62px;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    .col{
      padding-left: 16px;
      padding-right: 16px;
      width: auto !important;
    }
    .col:nth-child(1){
      position: absolute;
      top: 16px;
      min-width: 32px !important;
      padding-left: 0;
      padding-right: 0 !important;
      width: 32px !important;
      .user-avatar{
        margin-right: 0;
        min-width: 32px !important;
        width: 32px !important;
        padding-right: 0 !important;

      }
    }
    .col:nth-child(2){
      position: absolute;
      top: 12px;
      left: 36px;
    }
    .col:nth-child(3){
      padding-left: 0;
    }
    .col:nth-child(7) {
      padding-right: 0;
      .details-btn{
        position: relative;
        top: -24px;
      }
    }
  }

  .mainbar-main{
    margin-top: 0;
  }
  .products-info-table .table-row{
    position: relative;
  }
  .products-table-box .table-row .table-col:nth-child(1){
    position: absolute !important;
    top: 8px !important;
  }

  .row-subproduct:not(.row-product) .table-col:nth-child(1){
    opacity: 1;
    .title{
      opacity: 1;
    }
    .value{
      opacity: 1;
    }
  }

  .table-cpc{
    .table-row{
      position: relative;
    }
  }
  .products-info-table .table-row{
    padding-top: 60px;
  }
  .products-info-table .table-row .table-col:nth-child(1){
    width: 220px;
    min-width: 220px;
    position: relative;
    top: -58px;
  }
  .products-info-table .table-row .table-col:nth-child(2){
    position: absolute;
    top: 8px;
    left: 244px;
  }
  .products-info-table .table-row .table-col:nth-child(4){
    width: auto !important;
  }
  .products-info-table .table-row .table-col:nth-child(3):after{
    content: '';
    display: block !important;
    position: absolute;
    width: 1px;
    height: 34px;
    opacity: 0.64;
    background-color: #e3edf6;
    top: 50%;
    margin-top: -17px;
    right: 0;
  }
  .products-info-table .table-row .table-col:nth-child(6){
    width: auto !important;
    text-align: right;
    flex-grow: 2;
  }
  .products-info-table .table-row .table-col:nth-child(3){
    padding-left: 0;
    position: relative;
  }
  .products-info-table .table-row .table-col:nth-child(6) .details-btn{
    top: -32px;
    position: relative;
  }
  .product-item{
    margin-left: 16px;
    width: calc(33.3% - 16px);
    margin-bottom: 16px;
  }
  .product-list{
    margin-left: -16px;
  }
  .product-item .product-item_body .col:nth-child(1){
    padding-right: 16px;
  }
  .product-item .product-item_body .col:nth-child(2){
    padding-left: 16px;
  }
  .product-item{
    padding-left: 8px !important;
    padding-right: 8px !important;
  }

  .subproducts-info-table .table-row{
    position: relative;
    padding-top: 64px;
    .title{
      white-space: nowrap;
    }
    .value{
      white-space: nowrap;
    }
  }
  .subproducts-info-table .table-col:nth-child(1){
    position: absolute;
    top: 8px;
  }
  .subproducts-info-table .table-col:nth-child(2){
    padding-left: 0;
    width: auto !important;
  }
  .subproducts-info-table .table-col:nth-child(3){
    width: auto !important;
  }
  .subproducts-info-table .table-col:nth-child(4){
    width: auto !important;
  }
  .subproducts-info-table .table-col:nth-child(5){
    text-align: right;
    flex-grow: 2;
  }
  .user-stats-box{
    flex-wrap: wrap;
  }
  .user-info-box{
    position: relative;
    padding-top: 64px;
    .user-info:nth-child(1){
      position: absolute;
      top: 19px;
    }
    .user-info:nth-child(2){
      position: absolute;
      top: 19px;
      left: 64px;
      &:after{
        display: none;
      }
    }
    .campaign-info:nth-child(3){
      padding-left: 0;
    }
  }
  .user-stats-box .campaign-daily-table{
    width: 100%;

  }
  .user-stats-box .campaign-traffic-source{
    width: 100%;
  }
  .user-stats-box .campaign-details-col{
    width: 100%;
  }
  .user-stats-box .user-stats-box_l{
    width: 100% !important;
  }
  .user-stats-box .user-stats-box_r{
    width: 100% !important;
  }
  .user-info-box{
    padding-bottom: 16px;
  }
  .user-info:nth-child(3){
    padding-left: 0;
  }
  .user-info-box{
    flex-direction: column;
    height: auto;
    .dashboard-header_l{
      width: 100%;
    }
    .dashboard-header_r{
      width: 100%;
      text-align: center;
      padding-top: 16px;
    }
  }
  .mobile-flex-column.balance-page .balance-box{
    margin-top: 0 !important;
  }
  .balance-page > .col:nth-child(2){
    margin-left: 0 !important;
  }
  .spent-box .spent-box_title .more-filters{
    margin-right: 16px;
  }
  .white-box{
    width: 100%;
    margin-top: 24px;
  }
  .input-box-notext.width-536px{
    width: 49%;
  }
  .input-box-sub .input-box{
      width: 90% !important;
    }
  .input-box{
    padding-left: 16px;
    padding-right: 16px;
  }
  .bank-details .bank-details_l{
     margin-right: 10px;
   }
  .bank-details .bank-details_r{
    width: 500px;
  }
  .mainbar-header.dashboard-header.filters-box{
    margin-top: 0;
    margin-bottom: 16px;
    padding-right: 16px !important;
  }
  .campaign-daily-table{
    width: 100%;
    max-width: 360px;
    margin-right: 24px;
    .table-row{
      padding-left: 12px !important;
    }
  }
  .mobile-campaign-row{
    flex-direction: row;
    flex-wrap: wrap;
  }
  .campaign-traffic-source{
    width: 100%;
    max-width: 360px;
    margin-right: 0px;
  }
  .campaign-details-col{
    width: 100%;
    max-width: 360px;
  }
  .input-box-sub .input-box{
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .campaign-traffic-source-big{
    width: 100%;
  }
  .campaign-details-box{
    margin-left: 0;
  }
  .contact-page{
    display: flex;
    flex-direction: column-reverse;
    .contact-page_left{
      margin-right: 0;
      padding-right: 0;
      width: 100%;
    }
    .contact-page_right{
      width: 100%;
    }
  }
  .input-box_btns{
    margin-left: 0;
  }
  .title-underlined.margin-24px_top{
    margin-top: 8px !important;
  }
  .campaign_table{
    .col_started{
      padding-left: 24px;
      margin-left: 24px;
      &:before{
        display: none;
      }
    }
    .col_bid{
      padding-left: 24px;
      margin-left: 24px;
    }
    .col_spending{
      padding-left: 24px;
      margin-left: 24px;
    }
    .col_clicks{
      padding-left: 24px;
      margin-left: 24px;
    }
    .col_url{
      padding-left: 8px;
      margin-left: 100px;
      padding-top: 16px;
      margin-top: 12px;
      width: 100%;
      max-width: 460px;
      border-top: 1px solid #e3edf6;
      &:before{
        display: none;
      }
    }
  }
  .text-toc-page{
    flex-direction: column-reverse;
    .toc{
      width: 100%;
      margin-left: 0 !important;
      margin-bottom: 32px;
    }
  }
  .campaigns-list .campaign-item{
    padding-right: 16px;
  }
  .campaigns-list .campaigns-list_head{
    padding-right: 16px !important;
  }
  .margin-0px_top_m.mainbar-main{
    margin-top: 0 !important;
    .margin-24px_top{
      margin-top: 0 !important;
    }
    .table-footer-btn.margin-24px_top{
      margin-top: 24px !important;
    }
  }
  .campaign-traffic-source-big .table-row{
    padding-right: 16px;
  }
  .calendar_prev{
    width: 24px;
    height: 24px;
  }
  .calendar_next{
    width: 24px;
    height: 24px;
  }
  .white-box.width-536px{
    width: 100% !important;
    max-width: 100%;
  }
  .white-box.width-536px:nth-child(1){
    margin-top: 0px !important;
  }
  .margin-32px_top{
    margin-top: 24px !important;
  }
  .input-box-notext.width-536px{
    width: 48.5% !important;
    max-width: 48.5%;
  }
  .input-box_btns.pl-120{
    padding-left: 128px;
  }
  .input-box-account .input-box_l{
    width: 65% !important;
  }
  .products-table .table-row-products{
    padding-top: 64px;
    position: relative;
  }
  .products-table .table-row-products .col:nth-child(1){
    position: absolute;
    top: 8px;
    width: 100%;
  }
  .products-table .table-row-products .col:nth-child(2){
    padding-left: 0;
  }
  .products-table_style-1.products-table .table-row-products .col:nth-child(5){
    top: 45px;
  }
  .products-table .table-row-products .col:nth-child(5){
    position: absolute;
    top: 16px;
    right: 0;
  }
  .products-table .table-row-products .col:nth-child(2){
    width: auto;
  }
  .products-table .table-row-products .col:nth-child(3){
    width: auto;
  }
  .products-table .table-row-products .col:nth-child(4){
    width: auto;
  }
  .user-stats-details.user-info-box{
      padding-top: 19px;
     .user-info:nth-child(1){
       position: relative;
       top: auto;
     }
    .user-info:nth-child(2){
      position: static;
    }
    .dashboard-header_r{
      text-align: left;
    }
  }
  .balance-box_change_wrap{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    .balance-box_change{
      border-bottom: none;
      padding-right: 24px;
      margin-right: 24px;
      position: relative;
      margin-top: -10px;
      padding-top: 0;
      margin-bottom: 0;
      padding-bottom: 0;
      &:after {
        content: '';
        width: 1px;
        height: 34px;
        opacity: 0.64;
        background-color: #e3edf6;
        top: 50%;
        display: block;
        position: absolute;
        margin-top: -16px;
        right: 0;
      }
    }
  }
  .user-info-box_campaigns{
    &.user-info-box {
      .campaign-info:nth-child(3){
        padding-left: 80px;
      }
      .user-info:nth-child(2){
        left: 56px;
      }
    }
  }
  .user-stats-box{
    .campaign-daily-table{
      width: 47%;

      .table-row{
        padding-left: 0 !important;
      }
    }
    .campaign-traffic-source{
      width: 47%;
      margin-right: 0 !important;
    }
    .campaign-details-col{
      width: 100%;
      max-width: 100%;
      .campaign-details-box_row{
        .col:nth-child(1){
          width: 50%;
        }
        .col:nth-child(2){
          width: 50%;
          text-align: left;
        }
      }
    }
  }

  .user-balance-box .balance-graph{
    border-bottom: none;
    .chartjs-render-monitor{
      height: 170px !important;
    }
  }
  .products-table .table-row.table-row-users .col:nth-child(3){
    text-align: left;
  }
  .input-box-cpc .input-box_r .text{
    max-width: 336px;
    margin: 0 auto;
  }
  .admin-feed{
    flex-direction: column;
    align-items: flex-start;
    .admin-feed_dates{
      text-align: left;
      margin-bottom: 16px;
    }
  }
}

.text-toc-page .toc{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media screen and (max-width: 991px) {
  .calendar-day {
    width: calc(93% / 7);
  }
}
@media screen and (max-width: 824px) {
  .calendar-day {
    width: calc(92% / 7);
  }
}
@media screen and (max-width: 720px) {
  .calendar-day {
    width: calc(87% / 7);
    margin: 0;
  }
}