
@media screen and (max-width: 1280px){
  .mainbar-main.admin-feed-page{
    margin-top: 24px !important;
  }
  .input-box-sub {
    padding-bottom: 0 !important;
    .input-box{
      margin-top: 0 !important;

    }
  }
  .dashboard-page .mainbar-main{
    margin-top: 24px;
  }
  .products-info-table .table-row .table-col:nth-child(3){
    width: auto;
  }
  .products-info-table .table-row .table-col:nth-child(4){
    width: auto;
  }
  .products-info-table .table-row .table-col:nth-child(1){
    width: auto;
  }
  .product-list{
    margin-top: 24px;
  }
  $header_height: 96px;
  .dashboard-header-back{
    margin-top: 0 !important;
  }
  .mainbar{
    width: 100%;
  }
  .mainbar-main{
    margin-top: 8px;
  }
  .sidebar .sidebar_wrapper .notifications-counter{
    height: 32px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    .count{
      width: 30px;
      height: 30px;
      line-height: 30px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
  }
  .input-box:first-of-type{
    margin-top: 24px;
  }
  .table-box.margin-32px_top{
    margin-top: 24px;
  }
  .sidebar{
    width: 100%;
    height: auto;
    .sidebar_wrapper{
      height: auto;
      min-height: 0px;
      display: flex;
      flex-direction: row;
      padding-bottom: 0 !important;
    }
    .sidebar-main{
      display: flex;
    }
    .sidebar-nav ul{
      display: flex;
    }
    .sidebar-footer{
      position: relative;
      flex-grow: 3;
      width: 192px;
      min-width: 192px;
      max-width: 192px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
    .notifications-counter{
      position: absolute;
      right: 8px;
      top: 32px;
    }

    .sidebar-logo{
      height: auto;
      border-bottom: 0;
    }
    .notifications-counter{
      margin-right: 8px;
    }
  }
  .sidebar-nav{

    position: relative;
    li{
      border-bottom: none;
    }
  }
  .sidebar-nav a:before{
    top: 0 !important;
    margin-top: 0 !important;
    width: 82px;
    height: 4px;
    border-radius: 4px;
    left: 50%;
    margin-left: -41px;
    background-color: #101f51;
    opacity: 0;
  }
  .sidebar-nav .active a:before{
    opacity: 1;
  }
  .sidebar-nav li{
    border-right: 1px solid #f7f9ff;
  }
  .sidebar-nav a{
    padding-top: 22px;
    padding-bottom: 21px;
    height: $header_height;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .dashboard-header_r{
    padding-right: 0;
  }
  .dashboard-page .mainbar{
    margin-top: $header_height;
    padding-left: 12px;
    padding-right: 12px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .balance-page > .col:nth-child(1){
    width: 100%;
  }
  .balance-page > .col:nth-child(2){
    width: 100%;
  }
  .mobile-flex-column{
    .campaigns-list{
      max-width: 628px;
      margin-right: 32px;
    }
  }
  .input-box{
    margin-top: 24px;
    padding-right: 12px;
    padding-left: 12px;
    padding-bottom: 16px;
  }
  .input-box_l {
    width: 57%;
  }
  .input-box_r {
    width: 39%;
  }
  .input-box-sub .input-box{
    width: calc(88.5%);
  }
  .input-box-sub .input-box_l {
    width: 52.9%;
  }
  .input-box-sub .input-box_r{
    width: 43%;
  }
  .sidebar .sidebar-logo{
    border-right: 1px solid #f7f9ff;
  }
  .sidebar .sidebar-footer{
    border-right: 1px solid #f7f9ff;
    height: $header_height;
  }

  .notifications{
    width: 100%;
    height: 100vh;
    left: 0 !important;
    right: 0 !important;
    top: 0px;
    position: fixed;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    &.opened{
      z-index: 11;
      opacity: 1;
      visibility: visible;
    }
    .notifications_list{
      max-width: 1088px!important;
      margin: 0 auto;
      padding-left: 0;
      padding-right: 0;
    }
    .notifications_head{
      max-width: 1088px;
      width: 100%;
      margin: 0 auto;
      padding-left: 0;
      padding-right: 0;
    }
  }
  .notifications-counter.hover .icon-bell-white{
    transform: rotate(90deg);
  }
  .sidebar .sidebar_wrapper{
    z-index: auto;
    position: static;
    .notifications-counter{
      position: absolute;
      z-index: 9999;
    }
  }
  .notifications .num{
    height: 32px;
    line-height: 30px;
    padding: 0 8px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .notifications-counter{
    height: 32px;
  }
  .notifications-counter.hover{
    width: 32px;
  }
  .notifications-counter .icon i{
    height: 32px;
    margin-left: 7px;
  }
  .campaign-details-box{
    width: auto !important;
    margin-left: 16px;
  }
}

@media screen and (max-width: 1205px){
  .notifications_head{
    padding-right: 50px;
  }
  .balance-page > .col:nth-child(1){
    width: auto;
  }
  .balance-page > .col:nth-child(2){
    margin-left: 16px;
  }
}

@media screen and (max-width: 1140px){
  .flex-row{
    > .campaigns-list{

    }
    > .balance-box{
      width: 40%;
    }
  }
  .campaign-daily-table .table-row .table-col:nth-child(2){
    padding-left: 16px;
    padding-right: 16px;
  }
  .campaign-daily-table .table-row .table-col:nth-child(3){
    padding-left: 16px;
    padding-right: 16px;
  }
  .user-stats-box .campaign-daily-table{
    width: 33.3%;
    margin-right: 16px;
  }
  .user-stats-box .campaign-traffic-source{
    width: 33.3%;
    margin-right: 16px;
  }
  .user-stats-box .campaign-details-col{
    width: 33.3%;
  }
  .user-stats-box .campaign-details-box{
    width: 100%;
  }
}


@media screen and (max-width: 1088px){
  .calendar-day{
    width: calc(94% / 7);
  }
  .campaign-daily-table{
    width: 100%;
    margin-right: 16px;
  }
  .campaign-traffic-source{
    width: 100%;
    margin-right: 16px;
  }
  .campaign-details-col{
    width: 100%;
  }

  .calendar_prev{
    left: -12px;
    z-index: 10;
  }
  .calendar_next{
    right: -12px;
    z-index: 10;
  }
  .has-subproducts > .table-col:nth-child(1){
    min-width: 210px;
  }
  .products-info-table .table-row .table-col:nth-child(1){
    min-width: 210px;
  }
  .products-info-table .table-row .table-col-subproducts .table-col:nth-child(1){
    width: auto !important;
    min-width: auto;
  }
  .products-info-table .table-row .table-col-subproducts{
    width: auto !important;
  }
  .notifications_head{
    padding-left: 24px !important;
    padding-right: 60px !important;
  }
  .notifications_list_wrapper{
    padding-left: 24px;
    padding-right: 24px;
  }
  .user-balance-box .balance-box .balance-box_graph{
    margin-right: 16px;
  }
  .user-balance-box > .col:nth-child(1){
    margin-right: 8px;
  }
  .user-balance-box > .col:nth-child(2){
    margin-left: 8px;
  }
  .balance-box .balance-box_last{
    padding-right: 16px;
  }
  .balance-box_stats{
    justify-content: center;
  }
  .balance-box .balance-box_amount{
    padding-left: 16px;
  }
  .products-table .table-row.table-row-users .col:nth-child(7){
    flex-grow: 2;
    text-align: right;
  }

}

@media screen and (max-width: 1065px){
  .product-list{
    .product-item{
      padding-left: 16px !important;
      padding-right: 16px !important;
      .product-item_body{
        flex-direction: column;
        margin: 10px 0;
        .col{
          padding-left: 0 !important;
          padding-right: 0 !important;
          margin: 10px 0;
          width: 100%;
          &:after{
            display: none;
          }
        }
      }
    }
  }
  .user-info-box{
    flex-direction: column;
    padding: 24px 0;
    height: auto !important;
    align-items: flex-start !important;
    .dashboard-header_r{
      padding-left: 80px;
      padding-top: 18px;
    }
  }
  .sidebar-nav a{
    padding-left: 16px;
    padding-right: 16px;
  }
  .input-box-notext.width-536px{
    width: 49% !important;
    max-width: 49%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .white-box.width-536px{
    width: 49% !important;
    max-width: 49%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .type-charge-input .btn{
    margin-right: 16px;
  }
  .bank-details .bank-details_l{
    margin-right: 16px;
  }
  .sidebar-nav a{
    font-size: 13px;
  }
  .sidebar .notifications-counter{
    right: 0px !important;
  }
  .balance-page .campaign-info-box{
    justify-content: center;
  }
  .balance-page.mobile-flex-column{
    flex-direction: column;
    .charges-list-table{
      margin-left: 0;
      border-top: 1px solid #e3edf6;
      margin-top: 16px;
    }
  }
}