$primaryColor: #161d33;
$bodyBg: #f7f9ff;
$white: #ffffff;
$blue: #00A7DB;
$dark_blue: #1300DF;
$red: #df0036;
$green: #48ED33;
$additional_1: #020B2B;
$additional_2: #E3EDF6;
$small_text_color: #7e89ac;
$bold_text_color: #020b2b;