.auth-popup{
  width: 460px;
  margin: 0 auto;
  label{
    width: 80px;
    min-width: 80px !important;
    margin-right: 10px;
  }
  input{
    width: 100%;
    height: 32px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .popup-footer{
    padding-left: 84px;
    .a-link{
      padding-right: 32px;
    }
  }
  .text{
    margin-bottom: 17px;
    p{
      font-size: 13px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.85;
      letter-spacing: normal;
      color: #7e89ac;
    }
  }
}

.auth-page{
  display: flex;
  flex-direction: column;
  .content{
    flex-grow: 2;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 24px;
    margin-bottom: 24px;
  }
}

/* Recovery popup */
.recovery-popup{
  .popup-footer{
    padding-left: 29px;
  }
  .btn-cancel{
    margin-right: 30px;
  }
}

/* Success recovery popup */

.recovery-success{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  .icon{
    width: 96px;
    min-width: 96px;
    max-width: 96px;
    height: 96px;
    background: $green;
    border-radius: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    i{
      margin-top: -10px;
    }
  }
  .title{
    font-size: 19px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.68;
    letter-spacing: normal;
    color: #020b2b;
    padding-left: 32px;
  }
}

.recovery-success-popup{
  .popup-footer{
    padding-left: 0;
    margin-top: 25px;
    text-align: center;
  }
}

.new_add_success + .buttons-box{
  margin-bottom: 32px;
}

/* Registration */

.registration-page .buttons-box{
  .btn-blue{
    margin-right: 24px;
  }
}