body{
  background: $bodyBg;
  font-family: $primaryFont;
  font-size: $mainFontsize;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $primaryColor;
  overflow-x: hidden;
}

/* Footer to bottom  */
html, body{
  min-height: 100vh;
}
.main{
  flex: 1 0 auto;
}
.footer{
  flex: 0 0 auto;
}

.wrapper{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.flex-row{
  display: flex;
}

.flex-between{
  justify-content: space-between;
}

.flex-align-top{
  align-items: flex-start;
}

.container{
  margin: 0 auto;
}
.d-flex{
  display: flex;
}

.container-fluid{
  width: 100%;
}

//.main > .content{
//  min-height: calc(100% - 96px);
//}
//div{
//  -webkit-box-sizing: border-box;
//  -moz-box-sizing: border-box;
//  box-sizing: border-box;
//}

/* Spacings */

.margin-8px{
  &_top{
    margin-top: 8px;
  }
  &_bottom{
    margin-bottom: 8px;
  }
}

.margin-16px{
  &_top{
    margin-top: 16px;
  }
  &_bottom{
    margin-bottom: 16px;
  }
}

.margin-24px{
  &_top{
    margin-top: 24px !important;
  }
  &_bottom{
    margin-bottom: 24px;
  }
  &_left{
    margin-left: 24px;
  }
}

.margin-32px{
  &_top{
    margin-top: 32px;
  }
  &_bottom{
    margin-bottom: 32px;
  }
}

.margin-40px{
  &_top{
    margin-top: 40px;
  }
  &_bottom{
    margin-bottom: 40px;
  }
}

.margin-48px{
  &_top{
    margin-top: 48px;
  }
  &_bottom{
    margin-bottom: 48px;
  }
}

.margin-56px{
  &_top{
    margin-top: 56px;
  }
  &_bottom{
    margin-bottom: 56px;
  }
}

.margin-64px{
  &_top{
    margin-top: 64px;
  }
  &_bottom{
    margin-bottom: 64px;
  }
}

/* Paddings */

.padding-8px{
  &_top{
    padding-top: 8px;
  }
  &_bottom{
    padding-bottom: 8px;
  }
}

.padding-16px{
  &_top{
    padding-top: 16px;
  }
  &_bottom{
    padding-bottom: 16px;
  }
  &_left{
    padding-left: 16px;
  }
}

.padding-24px{
  &_top{
    padding-top: 24px;
  }
  &_bottom{
    padding-bottom: 24px;
  }
  &_left{
    padding-left: 24px;
  }
}

.padding-32px{
  &_top{
    padding-top: 32px;
  }
  &_bottom{
    padding-bottom: 32px;
  }
}

.padding-40px{
  &_top{
    padding-top: 40px;
  }
  &_bottom{
    padding-bottom: 40px;
  }
}

.padding-48px{
  &_top{
    padding-top: 48px;
  }
  &_bottom{
    padding-bottom: 48px;
  }
}

.padding-56px{
  &_top{
    padding-top: 56px;
  }
  &_bottom{
    padding-bottom: 56px;
  }
}

.padding-64px{
  &_top{
    padding-top: 64px;
  }
  &_bottom{
    padding-bottom: 64px;
  }
}
/* Table */
.table{
  display: flex;
  flex-direction: column;
  width: 100%;
  .table-footer-btn{
    text-align: center;
  }
  &.table-padding-left{
    .table-head{
      padding-left: 16px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
    .table-row{
      padding-left: 16px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
  }
  .title{
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.23;
    letter-spacing: normal;
    color: #7e89ac;
    display: block;
    padding-bottom: 3px;
  }
  .value{
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    color: #020b2b;
    display: block;
    b{
      font-weight: bold;
    }
  }
  .table-head{
    width: 100%;
    display: flex;
    height: 56px;
    align-items: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    justify-content: space-between;
    border-bottom: 2px solid #e3edf6;
    .table-col{
      width: 100%;
    }
  }
  .table-row{
    width: 100%;
    display: flex;
    border-bottom: 1px solid #e3edf6;
    &:last-of-type{
      border-bottom: none;
    }
    .table-col{
      width: 100%;
      padding: 12px 0 10px;
    }
  }
}

.ta-right{
  text-align: right;
}

.ta-left{
  text-align: left !important;
}

.centered{
  text-align: center !important;
}

.red-bold{
  font-size: 15px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
  color: #df0036;
}

.alert-popup{
  width: 100%;
  height: 96px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  .container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 16px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .col > i{
    margin-left: 16px;
    margin-right: 16px;
  }
  .col:nth-child(1){
    display: flex;
    align-items: center;
  }
  .btn{
    margin-left: 24px;
  }
}

.rounded-white-box{
  border-radius: 4px;
  border: solid 1px #e3edf6;
  background-color: #ffffff;
  padding-left: 16px;
  padding-right: 16px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.width-98px{
  width: 98px;
}

.width-134px{
  width: 134px;
}

.mainbar .content{
  min-height: calc(100vh - 24px);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.mobile-rotate{
  display: none;
}