/* Buttons */

.btn{
  display: inline-block;
  font-size: 16px !important;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1 !important;
  letter-spacing: 1px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  padding: 16px 24px;
  text-transform: uppercase;
  i{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 8px;
    -webkit-background-size: contain;
    background-size: contain;
  }
  &.btn-icon{
    display: inline-flex !important;
    align-items: center;
    justify-content: space-between;
    align-content: center;
  }
  &.btn-blue{
    background: $dark_blue;
    color: #ffffff !important;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(14, 0, 163, 0.4);
    transition: 0.4s;
    &:hover{
      box-shadow: 0 0 4px 0 rgba(14, 0, 163, 0.64);
      background-color: #101f51;
    }
    span{
      white-space: nowrap;
    }
  }
  &.btn-bordered{
    border-radius: 4px;
    border: solid 1px #020b2b;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 23px;
    padding-right: 23px;
    color: #161d33;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transition: 0.4s;
    background: transparent !important;
    i{
      transition: 0.4s;
    }
    span{
      line-height: 1;
      letter-spacing: 0px;
    }
    &:hover{
      box-shadow: 0 0 4px 0 rgba(14, 0, 163, 0.4);
      background: #00a7db !important;
      color: #ffffff;
      border-color: #00a7db;
      .icon-arrow-down{
        background: url('../img/icons/arrow-down-white.svg') no-repeat center / contain;
      }
      .icon-close{
        background: url('../img/icons/deactivate-white.svg') no-repeat center / contain;
      }
      .icon-arrow-black-left{
        background: url('../img/icons/arrow-left-white.svg') no-repeat center / contain !important;
      }
    }

  }
}

.a-link{
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.85;
  letter-spacing: normal;
  color: #00a7db;
  text-decoration: underline;
  &:hover{
    text-decoration: none;
  }
}

.btn-link{
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.85;
  letter-spacing: normal;
  color: #00a7db;
  text-decoration: underline;
  .count{
    min-width: 16px;
    max-width: 16px;
    width: 16px;
    height: 16px;
    border-radius: 100px;
    background-color: #df0036;
    font-size: 7.5px !important;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 16px !important;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    display: block;
    margin-top: 3px;
    padding: 0px !important;
    margin-left: 3px;
  }
}

.details-btn{
  display: inline-flex;
  text-align: left;
  align-items: center;
  border: solid 1px #e2e4f4;
  border-radius: 100px;
  padding: 4px 3px 3px 6px;
  text-decoration: none;
  transition: 0.4s;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  span{
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.23;
    letter-spacing: normal;
    color: #101f51;
    text-transform: uppercase;
    margin-right: 3px;
  }
  &:hover{
    background: #e2e4f4;
    border-color: #e2e4f4;
    i{
      background: #1300df;
      &:after{
        -webkit-background-size: contain;
        background-size: contain;
      }
      //&:after{
      //  background-image: url('../img/icons/upload-white.svg');
      //}
    }
  }
}

.more-details-btn{
  display: inline-flex;
  text-align: left;
  align-items: center;
  border: solid 1px #e2e4f4;
  border-radius: 100px;
  padding: 2px 3px 2px 6px;
  text-decoration: none;
  transition: 0.4s;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  &.btn-bg-dark{
    margin-right: 18px;
  }
  span{
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.23;
    letter-spacing: normal;
    color: #101f51;
    text-transform: uppercase;
    margin-right: 3px;
    transition: 0.4s;
  }
  &:hover{
    background: #e2e4f4;
    border-color: #e2e4f4;
     span{
       color: #101f51 !important;
     }
  }
}

.accept-btn{
  display: inline-flex;
  text-align: left;
  align-items: center;
  border: solid 1px #e2e4f4;
  border-radius: 100px;
  padding: 4px 4px 4px 6px;
  text-decoration: none;
  transition: 0.4s;
  span{
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.23;
    letter-spacing: normal;
    color: #101f51;
    text-transform: uppercase;
    margin-right: 4px;
  }
  &:hover{
    background: #e2e4f4;
    border-color: #e2e4f4;
  }
}

.decline-btn{
  display: inline-flex;
  text-align: left;
  align-items: center;
  background: #ffeaef;
  border: solid 1px #df0036;
  border-radius: 100px;
  padding: 4px 4px 4px 6px;
  text-decoration: none;
  transition: 0.4s;
  span{
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.23;
    letter-spacing: normal;
    color: #df0036;
    text-transform: uppercase;
    margin-right: 4px;
    transition: 0.4s;
  }
  &:hover{
    background: #df0036;
    border-color: #df0036;
    span{
      color: #ffffff;
    }
  }
}

.url-btn{
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
  color: #020b2b;
  display: flex;
  align-items: center;
  max-width: 100%;
  i{
    margin-left: 8px;
  }
  span{
    white-space: nowrap;
  }
  &:hover{
    text-decoration: none;
  }
}

.deactivate-btn{
  display: flex;
  align-items: center;
  border-radius: 100px;
  padding: 4px 4px 4px 6px;
  text-decoration: none;
  transition: 0.4s;
  background-color: #ffeaef;
  span{
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.23;
    letter-spacing: normal;
    color: #df0036;
    text-transform: uppercase;
    margin-right: 4px;
  }
}

.arrow-back{
  display: inline-block;
  width: 12px;
  height: 12px;
  vertical-align: middle;
  position: relative;
  top: 0px;
  margin-right: 10px;
  background: url("../img/icons/arrow-left_blue.svg") no-repeat center / contain;
}

.filter-popup-open:hover{
  .icon-filters{
    background: #1300df;
    &:after{
      background: url('../img/icons/filters-white.svg') no-repeat center / contain;
    }
  }
}

.filter-popup-open.opened{
  .icon-filters{
    background: #1300df;
    &:after{
      background: url('../img/icons/arrow-down-white.svg') no-repeat center / contain;
      transform: rotate(-180deg);
    }
  }
}

.btn-filters{
  text-decoration: none;
  display: inline-flex;
  align-items: flex-end;
  text-align: right;
  justify-content: flex-end;
  span{
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.23;
    letter-spacing: normal;
    color: #101f51;
    text-transform: uppercase;
    margin-right: 8px;
  }
}

.btn-invoice{
  text-decoration: none;
  border-radius: 100px;
  border: solid 1px #e2e4f4;
  padding: 3px 3px 3px 6px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.4s;
  &:hover{
    background: #0d95e8;
    color: #ffffff !important;
    span{
      color: #ffffff !important;
    }
  }
  span{
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #101f51;
  }
  i{
    margin-left: 4px;
  }
}

.btn-edit{
  border-radius: 100px;
  border: solid 1px #e2e4f4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 4px 4px 6px;
  cursor: pointer;
  text-decoration: none;
  background: #ffffff;
  span{
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.23;
    letter-spacing: normal;
    color: #101f51;
    text-transform: uppercase;
    margin-right: 4px;
    font-family: $primaryFont;
  }
}

.btn-read-more{
  text-decoration: none;
  border-radius: 100px;
  border: solid 1px #e2e4f4;
  padding: 2px 2px 2px 6px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.4s;
  &:hover{
    background: #e2e4f4;
  }
  span{
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #101f51;
  }
  i{
    margin-left: 4px;
  }
}

.btn-search{
  width: 16px;
  height: 16px;
  border: solid 1px #e2e4f4;
  background-color: #ffffff;
  position: relative;
  border-radius: 100px;
  display: block;
  &:after{
    content: '';
    background: url('../img/icons/search-blue.svg') no-repeat center / contain;
    height: 8px;
    position: absolute;
    top: 50%;
    margin-top: -4px;
    width: 100%;
    left: 0;
  }
}

.btn-link{
  border-radius: 100px;
  border: solid 1px #e2e4f4;
  background: #ffffff;
  font-size: 13px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.23;
  letter-spacing: normal;
  color: #020b2b;
  text-decoration: none;
  text-transform: uppercase;
  padding: 3px 5px;
  transition: 0.4s;
  &:hover{
    color: #fff;
    background: #101f51;
  }
  &.active{
    color: #fff;
    background: #101f51;
  }
}

.accept-btn{
  border-radius: 100px;
  box-shadow: 0 2px 4px 0 rgba(2, 11, 43, 0.24);
  background-color: #101f51;
  border-color: #101f51;
  margin-right: 16px;
  span{
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.23;
    letter-spacing: normal;
    color: #f8f9fc;
  }
  &:hover{
    background: #48ed33;
    border-color: #48ed33;
  }
}

.btn-bg-dark{
  border-radius: 100px;
  box-shadow: 0 2px 4px 0 rgba(2, 11, 43, 0.24);
  background-color: #101f51;
  border-color: #101f51;
  span{
    color: #ffffff;
  }
}

.subproducts-radio{
  border-radius: 17px;
  border: solid 1px #e2e4f4;
  transition: 0.4s;
  display: inline-block;
  padding: 6px 10px;
  cursor: pointer;
  input{
    display: none;
  }
  &.active{
    background-color: #48ed33;
    span{
      color: #f8f9fc;
    }
  }
  &:hover{
    background-color: #48ed33;
    span{
      color: #f8f9fc;
    }
  }
  span{
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.23;
    letter-spacing: normal;
    color: #020b2b;
    text-transform: uppercase;
    transition: 0.4s;
  }
}

.btn-small{
  text-decoration: none;
  border-radius: 100px;
  border: solid 1px #e2e4f4;
  padding: 3px 3px 3px 6px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.4s;
  span{
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #101f51;
  }
  i{
    margin-left: 4px;
  }
  &:hover{
    box-shadow: 0 2px 4px 0 rgba(2, 11, 43, 0.24);
    background-color: #101f51;
    border-color: #101f51;
    span{
      color: #ffffff;
    }
  }
}