//.campaigns-list{
//  .campaigns-list_head{
//
//  }
//}

.campaign-item{
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e3edf6;
  height: 64px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.campaigns-list{
  width: 628px;
  .campaigns-list_head{
    padding-left: 16px;
  }
  .campaign-item{
    padding-left: 16px;
  }
}

.campaigns-list_head{
  .filter-param{
    width: 100%;
  }
}

.more-filters{

  > a{
    display: flex;
    align-items: center;
    text-decoration: none;
    span{
      font-size: 13px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.23;
      letter-spacing: normal;
      color: #101f51;
      text-transform: uppercase;
      margin-right: 4px;
    }
  }
}

.campaign-item{
  justify-content: space-between;
  span{
    display: block;
  }
  .label{
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #7e89ac;
    padding-bottom: 8px;
  }
  .value{
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #020b2b;
    white-space: nowrap;
  }
}

.campaign-item_clicks{
  padding-right: 24px;
  padding-left: 24px;
  text-align: right;
  position: relative;
  &:after{
    content: '';
    position: absolute;
    right: 0;
    width: 1px;
    height: 34px;
    opacity: 0.64;
    background-color: #e3edf6;
    display: block;
    top: 50%;
    margin-top: -17px;
  }
}

.campaign-item_spending{
  padding-left: 24px;
  text-align: right;
  .value{
    font-weight: 200;
  }
}

.campaign-item_name{
  width: 41%;
}

.campaign-item_details{
  padding-left: 76px;
}

.campaigns-list_footer{
  text-align: center;
}

.campaign{
  border-radius: 4px;
  padding-left: 16px;
  padding-right: 16px;
  border: solid 1px #e3edf6;
  background-color: #ffffff;
  margin-bottom: 32px;
  .image{
    width: 100%;
    height: 100%;
  }
  &:last-child{
    margin-bottom: 0 !important;
  }
  .campaign_title{
    border-bottom: 2px solid #e3edf6;
    padding: 14px 0 18px;
    h3{
      font-size: 15px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.6;
      letter-spacing: normal;
      color: #020b2b;
    }
  }
  .campaign_table{
    padding-bottom: 32px;
    padding-top: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
  }
  .col_img{
    width: 80px;
    height: 64px;
    border-radius: 2px;
    border: solid 1px #eef4fa;
    overflow: hidden;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;

    }
  }
  .col_spending{
    padding-left: 24px;
    margin-left: 24px;
    position: relative;
    &:before{
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 50%;
      margin-top: -17px;
      vertical-align: middle;
      width: 1px;
      height: 34px;
      opacity: 0.64;
      background-color: #e3edf6;
    }
  }
  .col_started_day{
    padding-left: 24px;
    margin-left: 24px;
    position: relative;
    .title{
      text-align: left;
    }
    &:before{
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 50%;
      margin-top: -17px;
      vertical-align: middle;
      width: 1px;
      height: 34px;
      opacity: 0.64;
      background-color: #e3edf6;
    }
  }
  .col_total_clicks{
    padding-left: 24px;
    margin-left: 24px;
    position: relative;
    &:before{
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 50%;
      margin-top: -17px;
      vertical-align: middle;
      width: 1px;
      height: 34px;
      opacity: 0.64;
      background-color: #e3edf6;
    }
  }
  .col_total_spending{
    padding-left: 24px;
    margin-left: 24px;
    position: relative;
    &:before{
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 50%;
      margin-top: -17px;
      vertical-align: middle;
      width: 1px;
      height: 34px;
      opacity: 0.64;
      background-color: #e3edf6;
    }
  }
  .col_cpc{
    padding-left: 24px;
    margin-left: 24px;
    position: relative;
    &:before{
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 50%;
      margin-top: -17px;
      vertical-align: middle;
      width: 1px;
      height: 34px;
      opacity: 0.64;
      background-color: #e3edf6;
    }
  }
  .col_url{
    padding-left: 24px;
    margin-left: 24px;
    position: relative;
    .title{
      text-align: left;
    }
    &:before{
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 50%;
      margin-top: -17px;
      vertical-align: middle;
      width: 1px;
      height: 34px;
      opacity: 0.64;
      background-color: #e3edf6;
    }
  }
  .col_spending{
    padding-left: 24px;
    margin-left: 24px;
    position: relative;
    &:before{
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 50%;
      margin-top: -17px;
      vertical-align: middle;
      width: 1px;
      height: 34px;
      opacity: 0.64;
      background-color: #e3edf6;
    }
  }
  .col_clicks{
    padding-left: 24px;
    margin-left: 24px;
    position: relative;
    &:before{
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 50%;
      margin-top: -17px;
      vertical-align: middle;
      width: 1px;
      height: 34px;
      opacity: 0.64;
      background-color: #e3edf6;
    }
  }
  .col_bid{
    padding-left: 24px;
    margin-left: 24px;
    position: relative;
    &:before{
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 50%;
      margin-top: -17px;
      vertical-align: middle;
      width: 1px;
      height: 34px;
      opacity: 0.64;
      background-color: #e3edf6;
    }
  }
  .col_started{
    padding-left: 24px;
    margin-left: 24px;
    position: relative;
    &:before{
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 50%;
      margin-top: -17px;
      vertical-align: middle;
      width: 1px;
      height: 34px;
      opacity: 0.64;
      background-color: #e3edf6;
    }
  }
  .value i {
    margin-right: 8px;
  }
  .title{
    text-align: right;
  }
  .col_btns{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 2;
  }
  .deactivate-btn{
    margin-left: 32px;
  }
}