.filters-box{
  height: 56px;
  padding: 0;
  display: flex;
  border-bottom: 2px solid #e3edf6;
  justify-content: space-between;
  align-items: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  .title{
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.23;
    letter-spacing: 0.5px;
    color: #101f51;
  }
  .filter-param{
    display: flex;
    align-items: center;
    &:first-of-type{
      .filter-param_title{
        margin-left: 0px !important;
      }
    }
  }
  .filter-param_title{
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.23;
    letter-spacing: normal;
    color: #7e89ac;
    margin-right: 12px;
    margin-left: 12px;
  }
  .title{
    span{
      text-transform: uppercase;
    }
  }
}

/* Filters popup */

.filters-popup{
  opacity: 0;
  transition: 0.4s;
  z-index: -1;
  position: absolute;
  width: 368px;
  border-radius: 4px;
  box-shadow: 0 8px 16px 0 rgba(2, 11, 43, 0.4);
  border: solid 1px #e3edf6;
  background-color: #f7f9ff;
  right: -16px;
  top: 24px;
  &.show{
    z-index: 100;
    opacity: 1;
  }
  .title{
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.23;
    letter-spacing: normal;
    color: #7e89ac;
  }
  .filter-popup_row{
    padding: 19px 16px 24px;
    text-align: left;
    border-bottom: 1px solid #e3edf6;
    &:last-child{
      border-bottom: none;
    }
    .title{
      margin-bottom: 5px;
    }
    .jq-selectbox{
      width: 100%;
    }
  }
}

.more-filters{
  position: relative;
}

.ranges{
  position: relative;
}

.filter-calendar{
  position: relative;
  //input.datepicker-calendar{
  //  position: absolute;
  //  z-index: -1;
  //}
  //.drp-calendar{
  //  position: relative !important;
  //}
  .daterangepicker{
    position: relative !important;
    display: block !important;
    top: auto !important;
    left: auto !important;
    right: auto !important;
    width: 100%;
    height: 272px !important;
    box-shadow: none !important;
    border: none;
  }
  .daterangepicker .drp-calendar.left{
    padding: 0 !important;
    margin: 0 auto !important;
  }
  .daterangepicker .drp-calendar.left .calendar-table{
    padding-right: 0 !important;
  }
  .daterangepicker.single .ranges, .daterangepicker.single .drp-calendar{
    float: none !important;
  }
}