.input-field{
  height: 32px;
  border-radius: 4px;
  border: solid 1px #e2e4f4;
  background-color: $white;
  padding: 0px 8px !important;
  font-size: 13px;
  font-family: $primaryFont;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.23;
  letter-spacing: normal;
  color: #161d33;
  outline: none;
  &::placeholder{
    color: $small_text_color;
    font-weight: normal;
  }
}

.required-error {
  .jq-selectbox .jq-selectbox__select {
    border-color: $red !important;
  }
}

.input-field-note{
  position: absolute;
  right: auto;
  left: 55%;
  top: -22px;
  background: #FFFFFF;
  border: solid 1px #e2e4f4;
  display: block;
  white-space: nowrap;
  transition: 0.3s;
  opacity: 1;
  border-radius: 4px;
  padding: 5px 10px;
}

.input-field-required{
  position: relative;
  width: 100%;
  height: 32px;
  .input-field-status{
    position: absolute;
    width: 16px;
    height: 16px;
    right: -7px;
    background: $white;
    top: 50%;
    margin-top: -8px;
    display: block;
    border: 1px solid #e2e4f4;
    border-radius: 100px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .input-field{
    height: 32px;
    padding-right: 16px;
    box-sizing: border-box;
  }
  &.required-error{
    .input-field-status{
      &:before{
        content: '';
        width: 14px;
        height: 14px;
        background: $red;
        position: absolute;
        top: 0px;
        left: 0px;
        border-radius: 100px;
        box-sizing: border-box;
      }
      &:after{
        content: '';
        background: url("../img/icons/deactivate-white.svg") no-repeat center / contain;
        width: 8px;
        height: 8px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -4px 0 0 -4px;
        box-sizing: border-box;
      }
    }
  }
  &.required-ok{
    .input-field-status{
      &:before{
        content: '';
        width: 14px;
        height: 14px;
        background: $green;
        position: absolute;
        top: 0px;
        left: 0px;
        border-radius: 100px;
        box-sizing: border-box;
      }
      &:after{
        content: '';
        background: url("../img/icons/confirm_white.svg") no-repeat center / contain;
        width: 8px;
        height: 8px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -4px 0 0 -4px;
        box-sizing: border-box;
      }
    }
  }
}

.input-box_select{
  width: 336px;
  .select-styled{
    width: 100%;
  }
}

.textarea-field{
  border-radius: 4px;
  border: solid 1px #e2e4f4;
  background-color: $white;
  font-size: 13px;
  font-family: $primaryFont;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.23;
  letter-spacing: normal;
  color: #161d33;
  outline: none;
  &::placeholder{
    color: $small_text_color;
    font-weight: normal;
  }
}

.form-item {
  margin-bottom: 24px;
  &.left-label{
    display: flex;
    align-items: center;
    label{
      min-width: 120px;
    }
  }
  label{
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.85;
    letter-spacing: normal;
    color: #7e89ac;
    margin-right: 16px;
  }
  textarea{
    resize: none;
    height: 72px;
  }
}

textarea.input-field{
  resize: none;
  height: 64px !important;
  padding-top: 8px !important;
}

.input-field-required.input-box_textarea{
  height: 64px !important;
}
.input-box{
  margin-top: 32px;
  background: $white;
  padding: 0px 108px 24px 16px;
  display: flex;
  justify-content: space-between;
  border-radius: 4px;
  border: solid 1px #e3edf6;
  &:first-of-type{
    margin-top: 0;
  }
  &_l{
    width: 53%;
  }
  &_r{
    width: 34.5%;
  }
  .text{
    padding: 32px 0 8px;
    p{
      font-size: 13px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.85;
      letter-spacing: normal;
      color: #7e89ac;
    }
  }
  .input-field{
    width: 100%;
    padding-bottom: 8px;
  }
  .input-box_title{
    border-bottom: 2px solid #e3edf6;
    margin-bottom: 24px;
    height: 56px;
    display: flex;
    align-items: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    span{
      font-size: 15px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.6;
      letter-spacing: normal;
      color: #020b2b;
    }
  }
}

.input-box-notext{
  padding-right: 16px !important;
  .input-box_l{
    width: 100%;
  }
}

button{
  outline: none !important;
}

.input-box-sub{
  padding-bottom: 0;
  background: none !important;
  display: flex;
  justify-content: flex-end;
  margin-right: 0 !important;
  padding-right: 0 !important;
  margin-left: 0 !important;
  padding-left: 0 !important;
  .input-box{
    padding-top: 0 !important;
    width: calc(80.5%);
    margin-top: 0px;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 0px;
    left: 0;
  }
  .input-box_l{
    width: 48%;
  }
  .input-box_r{
    width: 38%;
  }
}

.input-box_row{
  display: flex;
  .input-box_row_l{
    width: 184px;
    min-width: 184px;
  }
  .input-box_row_r{
    width: 100%;
  }
  .text{
    padding: 0;
  }
}

.buttons-box{
  text-align: center;
}

.input-slider-value{
  width: 128px;
}
.input-date-range{
  width: 162px;
}
.input-date-single{
  width: 89px;
  max-width: 89px;
}
.input-date-range, .input-date-single{
  font-size: 13px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.23;
  letter-spacing: normal;
  color: #101f51;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  border-radius: 100px;
  overflow: hidden;
  input{
    background: transparent;
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #101f51;
    width: 100%;
    outline: none;
    font-family: $primaryFont;
    border: solid 1px #e2e4f4;
    border-radius: 100px;
    padding: 3px 20px 2px 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
  }
  .icon-date{
    transition: 0.4s;
    width: 16px;
    min-width: 16px;
    height: 16px;
    background: #ffffff;
    border: solid 1px #e2e4f4;
    display: block;
    border-radius: 100px;
    position: absolute;
    right: 3px;
    top: 5px;
    &:before{
      content: '';
      transition: 0.4s;
      background: url("../img/icons/calendar-blue.svg") no-repeat center / contain;
      height: 8px;
      display: block;
      position: absolute;
      top: 50%;
      margin-top: -4px;
      width: 100%;
    }
  }
}

.select-styled{
  .jq-selectbox__select-text{
    text-overflow: unset;
  }
  .jq-selectbox__select-text.placeholder{
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #7e89ac;
  }
  .jq-selectbox__select{
    background: none;
    border-radius: 100px;
    border: solid 1px #e2e4f4;
    box-shadow: none;
    height: auto;
    padding: 5px 20px 4px 5px;
  }
  .jq-selectbox__select-text{
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 13px;
    letter-spacing: normal;
    color: #101f51;
    padding-right: 0;
    margin-right: 0;
    width: 100% !important;
    font-family: $primaryFont;
  }
  .jq-selectbox__trigger{
    width: 16px;
    height: 16px;
    border: solid 1px #e2e4f4;
    background-color: #ffffff;
    border-radius: 100px;
    position: absolute;
    top: 3px;
    right: 3px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .jq-selectbox__trigger-arrow{
    background: url('../img/icons/arrow-down-blue.svg') no-repeat center / contain;
    width: 100%;
    height: 6px;
    border: none;
    left: 0;
    position: absolute;
    top: 50%;
    margin-top: -3px;
  }
  &.dropdown.opened .jq-selectbox__dropdown{
    top: 24px !important;
    z-index: 10000;
  }
  .jq-selectbox__dropdown{
    li{
      font-size: 14px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.4;
      color: #101f51;
      &:hover{
        background: #f7f9ff;
        color: #00A7DB;
      }
    }
  }
  li.selected{
    color: #00A7DB;
    background: #f7f9ff !important;
  }
}

/* Successfully popups and responces */
.icon-added-success{
  width: 128px;
  height: 128px;
  display: inline-block;
  background: $green;
  border-radius: 100px;
  overflow: hidden;
  text-align: center;
  &:before{
    content: '';
    width: 80px;
    height: 128px;
    background: url('../img/icons/icon-thumbs-up.svg') no-repeat center / contain;
    display: inline-block;
  }
}
.icon-disabled-success{
  width: 128px;
  height: 128px;
  display: inline-block;
  background: $red;
  border-radius: 100px;
  overflow: hidden;
  text-align: center;
  &:before{
    content: '';
    width: 80px;
    height: 128px;
    background: url('../img/icons/disabled_icon.svg') no-repeat center / contain;
    display: inline-block;
  }
}
.successfully-box{
  text-align: center;
  margin: 32px auto;
  span{
    font-size: 19px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.68;
    letter-spacing: normal;
    text-align: center;
    color: #020b2b;
    display: inline-block;
    margin-top: 25px;
  }
}

.input-box_no-text{
  padding-right: 16px !important;
  .input-box_l{
    width: 100%;
  }
  .input-box_input{
    width: 100%;
    input{
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
    textarea{
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
  }
}

.sorting-select {
  .jq-selectbox__select-text{

    text-transform: none !important;
  }
}

.input-field-wrap{
  position: relative;
  span{
    position: absolute;
    font-weight: bold;
    top: 10px;
    left: 9px;
    font-size: 13px;
  }
  input.input-field{
    padding-left: 18px !important;
  }
}