.popup{
  padding: 0 16px 24px 16px;
  background: $white;
  border-radius: 4px;
  border: solid 1px #e3edf6;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  .like-h3{
    font-size: 19px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.68;
    letter-spacing: normal;
    color: #020b2b;
  }
  .small{
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.85;
    letter-spacing: normal;
    color: #7e89ac;
  }
}

.popup-hide{
  display: none;
  .fancybox-close-small{
    display: none;
  }
}

.popup_title{
  border-bottom: 2px solid #e3edf6;
  height: 56px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  span{
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.23;
    letter-spacing: 0.5px;
    color: #101f51;
    text-transform: uppercase;
    display: block;
  }
}

.popup-550px{
  max-width: 550px;
  border-radius: 4px;
  box-shadow: 0 8px 16px 0 rgba(2, 11, 43, 0.4);
  border: solid 1px #e3edf6;
  .btn-blue{
    margin-top: 17px;

  }
  .btn-bordered{
    margin-top: 24px;
  }

}
/* Fancybox */
.fancybox-is-open .fancybox-bg{
  opacity: 0;
}
.mainbar{
  transition: 0.3s;
}
.fancybox-active .mainbar{
  opacity: 0.4;
}